<html>
	<head>
        <title>Ieva's blog</title>
    </head>
<body>
	<div>
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>

    <div>
        <p>published: 25.05.2019, 14:19</p>
        <h2><a href="">Success doesn’t just find you. You have to go out and get it</a></h2>
        <p>The harder you work for something, the greater you'll feal when you achieve it</p>
    </div>

    <div>
        <p>published: 25.05.2019, 14:30</p>
        <h2><a href="">Failure is good</a></h2>
        <p>You Learn More From Failure Than From Success. Don’t Let It Stop You. Failure Builds Character.</p>
    </div>
</body>
</html>